@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&family=Dongle&family=Island+Moments&family=MedievalSharp&family=Metamorphous&family=Neonderthaw&family=The+Nautigal:wght@400;700&display=swap');
:root{
    --text-color: #fff;
    --sun-color: #e6be3a;
    --sunset-color: #e74c3c;
    --purple-color: #071427;
}
*{
    padding: 0;
    margin: 0;
    outline: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(../img/the-witcher-3-wild-hunt-minimalist-uhdpaper.com-4K-5.1321.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Island Moments', cursive;
    font-size: 62.5%;
}
h1{
    text-shadow: 0.4rem 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
}
.div-mae{
    width: 65%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    position: relative;
    
}
header{
    text-shadow: 0.3rem 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: 'The Nautigal', cursive;
    background-color: transparent;
    font-size: 2.6rem;
    width: 50%;
    color: var(--text-color);
    height: 39rem;
    box-sizing: border-box;
    padding-top: 10.5rem;
}
.div-icons{
    margin-top: 9.55rem;
}
i{
    color:var(--sun-color);
}
main form{
    padding: 3rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    border-left: rgba(0, 0, 0, 0.3) dashed 0.1rem;
}
main{
    background-color: transparent;
    width: 50%;
}
main form input{
    text-align: center;
    border-radius: 0.3rem;
    display: block;
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: whitesmoke solid 0.1rem;
    font-size: 1.5rem;
    font-family: 'Almendra', serif;
}
::placeholder{
    font-size: 1.5rem;
    font-family: 'Almendra', serif;
    line-height: 0.8rem;
    
}
select{
    font-family: 'Almendra', serif;
    font-size: 1.5rem;
    width: 90%;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 0.3rem;
    border-bottom: whitesmoke solid 0.1rem;
}
option{
    font-size: 1rem;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}
button {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--sunset-color);
    border-radius: 0.6em;
    color: var(--sunset-color);
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1.5rem;
    line-height: 1;
    padding: 0.8rem 2rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Almendra', serif;    
    border-color: var(--sun-color);
    color: var(--text-color);
    box-shadow: 0 0 40px 40px var(--sun-color) inset, 0 0 0 0 var(--sun-color);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

button:hover {
    box-shadow: 0 0 10px 0 var(--sun-color) inset, 0 0 10px 4px var(--sun-color);
}
.el-fechar{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
}
.btn-apply{
    box-shadow: 0 0 40px 40px var(--sunset-color) inset, 0 0 0 0 var(--sunset-color);
    border-color: var(--sunset-color) ;
    display: none;
}
.btn-apply:hover{
    box-shadow: 0 0 10px 0 var(--sunset-color) inset, 0 0 10px 4px var(--sunset-color);
}
h2{
    display: none;
}
i:hover{
    animation-name: tamanho;
    animation-duration: 1s;
    
}
a{
    text-decoration: none;
    color: var(--text-color);
}
span{
    display: none;
}
@keyframes tamanho {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@media (prefers-color-scheme: dark) {
    header {
        color:  var(--text-color);
    }
    main{
        background-color: var(--purple-color);
    }
}
@media (max-width: 1325px){
    .div-mae{
        width: 85%;
    }
}
@media (max-width: 1013px){
    .div-icons{
        margin-top: 6.8rem;
    }
}
@media(max-width: 900px){
    .div-mae{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 100%;
    }
    h1{
        font-size: 4rem;
        line-height: 0.8;
        margin: 2.5rem 0;
    }
    header{
        height: 100vh;
        width: 100%;
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 0;
        background-image: url(../img/the-witcher-3-wild-hunt-minimalist-uhdpaper.com-4K-5.1321.jpg);
        background-position:80% 45%;
        font-family: 'Almendra', serif;
        padding: 0 0.5rem;
    }
    main{
        width: 100%;
        min-height: 100vh;
        background-color: var(--purple-color);
    }
    .div-icons{
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }
    main form{
        border:none;
        padding: 0;
        height: 45rem;
    }
    .btn-apply{
        display: block;
    }
    main h2{
        font-size: 4rem;
        color: var(--text-color);
        text-align: center;
        display: block;
    }
    ::placeholder{
        color: var(--sun-color);
    }
    select{
        color: var(--sun-color);
    }
    input{
        color: var(--sun-color);
    }
    .div-texto{
        font-family: 'Almendra', serif;
        font-size: 1.8rem;
    }
    span{
        display: inline;
    }
    div p{
        padding: 0 0.5rem;
    }

}@media(max-width: 355px){
    h1{
        font-size: 3.7rem;
    }
    p{
        font-size: 1.8rem;
    }
    span{
        display: none;
    }
}
@media (max-height: 644px)and (min-width: 900px){
    header{
        height: 70vh;
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: space-evenly;
    }
    .div-icons{
        display: none;
    }
    button{
        padding: 0.5rem;
    }
    main form{
        padding: 0;
    }
}